* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}


/*Styling variables*/
:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-vista: #7796CB;
  --color-vista-hover: #6882ae;

  --color-space: #2D3047;
  --color-space-dark: #222436;

  --color-grey: #AAAAAA;

  --color-powder: #FDFFF7;
  --color-powder-hover: #dad8d8;

}

